$calculatorColour: hsl(56, 99%, 40%);
$screenColour: hsl(195, 33%, 79%);

$calculatorHighlight: hsl(197, 73%, 70%);
$calculatorBody: hsl(197, 61%, 46%);
// $calculatorBodyOutline: hsl(197, 31%, 36%);
$calculatorBodyOutlineRight: hsl(197, 61%, 45%);
$calculatorBodyOutlineLeft: hsl(197, 73%, 65%);
$calculatorBodyOutlineTop: hsl(197, 73%, 80%);

$keyHighlight: hsl(197, 73%, 75%);

$keyOutlineLight: hsl(197, 55%, 69%);
$keyOutlineMedium: hsl(197, 55%, 76%);
$keyOutlineDark: hsl(197, 34%, 46%);

$keyBody: hsl(197, 61%, 56%);
$keyTextLight: hsl(50, 41%, 32%);
$keyTextDark: hsl(50, 41%, 32%);